@media (min-width: 1320px) {
  /* Your styles here */
  .video-box-parent {position: relative;width: 100%;height: auto;}
  .video-box{ width: 211px;  height: 251px !important;  position: absolute !important;  z-index: 1; right: 25px;  top: 47%; border-radius: 10px;}
  .video-remote{ height: 500px; width: 100%; position: relative !important;}
}
/*For 1024 */
@media(max-width:1319px){
.container{max-width: 100%; width: 100%;}
.navbar-brand{max-width: 200px;}
.btn{padding: 0px 15px;}
.stone-img{display: none;}
.how-it-works-section{background: none;}
.app-download-img{display: none !important;}
.services-section{background: none !important;}
.hero-section{background: none;}
.hero-section{padding-bottom: 0px !important;}
.dropdown-menu[data-bs-popper] {left: auto; right: 0;}
.team-img-box{width: 100%; height: auto;}
.team-img-box figcaption .team-info-details{padding: 11px;}
.team-img-box figcaption .team-info-details h4{font-size: 21px;}
.team-img-box figcaption .team-info-details span{font-size: 14px;}	
.container-fluid{padding: 0px 15px;}
.about-img-box .about-shape {top: -43px; left: -32px; width: 114px;}
.banner-content h1{font-size: 41px;}
.banner-inner-wrap{height: 200px; object-fit: cover;}
.service-box-card h3{font-size: 21px;}
.service-box-card figcaption p{font-size: 15px; line-height: 24px;}
div .container{width: 100% !important;}
.heading-22-bold {font-size: 18px !important;}
.heading-20-medium{font-size: 19px;}
.heading-18-semibold{font-size: 15px;}
.card .body-card{font-size: 16px ;}
.card .card-body-1{font-size: 21px;}
.table th{padding: 10px 7px;}
.profile-header .heading-30-semibold{font-size: 25px;}
.inner-wraper .col-md-9{width: 100%;}
.heading-20-semibold{font-size: 18px !important;}
.form-group .form-label{font-size: 15px;}
.footer-main .footer-logo{width: 150px;}
.booking-page{width: 100%;}
.service-box{padding-right: 21px;}
.service-box-wrapper .col-md-6:nth-child(2n) .service-box{padding-left: 21px;}
.cancel-modal-info{padding: 21px !important;}
.auth-form .auth-form-body .btn {width: 100%;}
.inner-wraper .auth-page{background: none;}
.video-box{ width: 211px;  height: 251px !important;  position: absolute !important;  z-index: 1; right: 31px;  bottom: 271px; top: 237%; border-radius: 10px;}
.video-remote{ height: 500px; width: 100%; position: relative !important;}
}


/*For 768 */
@media(max-width:1023px){
body .hero-img-box{max-width: 350px; margin: auto !important;}
.hero-section .row{row-gap: 30px;}
.about-section .col-md-4{width: 100%;}
.about-section .col-md-7{width: 100%;}
.about-content{margin-top: 30px;}
body .py-12{padding: 50px 0px !important;}
.about-main-img{border-radius: 0px; aspect-ratio: auto;}
.service-box{padding-right: 21px;}
.auth-form-body .btn{width: 100%;}
.service-box-wrapper .col-md-6:nth-child(2n) .service-box {padding-left: 21px;}
.service-box .h4-heading{font-size: 18px;}
.paragraph-16{line-height: 24px; }
.service-box .paragraph-16{font-size: 14px;}
.how-it-works-box-wrapper .how-it-works-box h4{font-size: 16px;}
.how-it-works-box-wrapper .how-it-works-box .paragraph-16{font-size: 14px;}
.hero-section{background: none;}
.team-img-box{width: 100%; height: auto;}
.team-img-box figcaption .team-info-details h4{font-size: 19px;}
.container-fluid{padding: 0px 15px;}
.banner-content h1{font-size: 41px;}
.banner-inner-wrap{height: 200px; object-fit: cover;}
.service-box-card h3{font-size: 19px;}
.service-box-card figcaption p{font-size: 14px;}
.footer-logo{width: 131px;}
.footer-menu a{font-size: 14px;}
.navbar-toggler:focus{box-shadow: none;}
.bg-login-img{display: none !important;}
.auth-page .container .col-md-6{width: 100%;}
.auth-form{margin: auto;}
.chart-container div{flex-direction: column; row-gap: 8px !important;}
.auth-form-body h2{font-size: 28px !important;}
.auth-page{background-image: none !important;}
.dropdown-toggle.btn.btn-primary.nav-link.d-flex.align-items-center.gap-2 {margin-top: 10px;}
header .nav-link {width: 100%;}
.dropdown-menu[data-bs-popper] {width: 100%;}
.inner-container .col-md-4{width: 100%;}
.upcoming-appointment-sec .row{flex-direction: column;}
.upcoming-appointment-sec .col-md-6{width: 100%;}
.dashboard-body .col-md-4 {width: 100%; gap: 21px; display: flex; flex-direction: column;}
.dashboard-body .row{row-gap: 15px;}
.heading-22-bold {font-size: 18px;}
.calendar-header .date-center{left: -32px;}
.calendar-table tr th{font-size: 13px;}
.dashboard-body .row{width: 100%;}
.card .body-card{font-size: 15px;  line-height: normal;}
.card .card-body-1{font-size: 18px;}
.table td{padding: 15px 28px;}
.table-responsive{margin-top: 21px; margin-bottom: 10px;}
.profile-header .heading-30-semibold{font-size: 19px;}
.profile-header {margin-bottom: 19px !important;}
.heading-20-semibold {font-size: 16px !important;}
.detail-row .value{font-size: 16px;}
.detail-row .label{font-size: 16px;}
.pagination li .page-link {width: 29px; height: 29px;}
.dashboard-body .col-6{width: 100%;}
.btn-icon-32 {width: 30px !important; height: 28px !important; border-radius: 32px !important; font-size: 16px !important;}
.header-right-btn {flex-direction: column;}
 .header-right-btn .btn-primary{width: 100%; text-align: start;}
 .header-right-btn .dropdown{width: 100%;}
 .card ul{padding: 0px;}
 .pagination li .page-link{width: 29px; height: 29px;}
 .rs-input-group-addon{position: absolute;}
 .contect .row{width: 100%;}
 .contact-form-box .col-md-6{width: 100%;}
 .contact-form-box .col-md-7{width: 100%;}
 .cancel-modal-info{padding: 21px !important;}
 .modal-body .heading-32-semibold{font-size: 25px; line-height: 34px;}
.modal-body img{width: 70px;}
.contact-us-text .heading-section{margin: 0px !important;}
.contact-form-card{padding: 15px; margin-top: 10px;}
.video-box{width: 201px; height: 231px !important; bottom: 271px; top: 41%; right: 31px; border-radius: 10px;}

}


/*For Mobile Toggel 992 */
@media(max-width:992px){}


/*For 375 */
@media(max-width:767px){
  .hero-content{text-align: center;}
body .py-12{padding: 30px 0px !important;}

body .hero-img-box{max-width: 200px;}
.hero-img-box .shape-1{width: 75px;}
.paragraph-16{text-align: justify;}
.hero-section{background: none;}
.dropdown-toggle.btn.btn-primary.nav-link.d-flex.align-items-center.gap-2 {margin-top: 10px;}
.navbar-brand{max-width: 131px;}
.hero-img-box .shape-2{left: -50px; width: 115px;}
.hero-content p{font-size: 16px; line-height: 24px;}
.navbar-brand{max-width: 151px;}
.service-box{padding-right: 0px;}
.service-box-wrapper .col-md-6:nth-child(2n) .service-box{padding-left: 0px;}
.how-it-works-section .row{row-gap: 30px;}
.app-download-content .h2-heading{line-height: 41px;}
.how-it-works-box-wrapper .how-it-works-box figure{margin-bottom: 21px;}
.about-content{margin-top: 7px;}
.app-download-btn {margin-top: 35px !important;}
.header-right-btn .dropdown-menu[data-bs-popper] {left: auto; right: 0px;}
.dropdown-menu[data-bs-popper] {left: auto; right: 0px; width: 100%;}
.banner-inner-wrap{height: 160px; object-fit: cover;}
.banner-content h1{font-size: 24px;}
.team-img-box{height: auto;}
.about-img-box .about-shape {top: -46px; left: -6px; width: 110px;}
.container-fluid{padding: 0px 15px;}
.breadcrumb-container{display: flex; justify-content: center;}		
.footer-bottom div{flex-direction: column;gap: 8px;text-align: center;}
.why-choose-us-section figure{height: auto; width: 100%; position: inherit;}
.why-choose-container{height: auto;}
.why-choose-us-content{padding-bottom: 15px !important;}
.why-choose-us-section .logo-circle{margin-top: 30px; margin-bottom: 15px;}

/* .why-choose-us-content {padding: 0px 0px !important;} */
/* .why-choose-us-content{margin-top: 260px;} */
.footer-logo{width: 111px !important;}
.footer-menu a{font-size: 14px;}
.breadcrumb .breadcrumb-item{font-size: 16px;}
.service-box-card h3{font-size: 18px;}
.service-box-card figcaption p{font-size: 14px; line-height: 23px;}
div .container{width: 100%;}
.heading-section{margin: 0px 0px 30px 0px !important;}
.breadcrumb {margin-bottom: 0px;}
.navbar-toggler:focus{box-shadow: none;}
.about-section .row{flex-direction: column-reverse;}
.auth-form-body h2{font-size: 24px !important; margin-bottom: 15px !important;}
.auth-form-header{margin-bottom: 21px !important;}
.auth-form-header{width: 200px;}
/* .auth-page {background: none;} */

.sidebar {width: 100%;min-width: 100%;}
.profile-image-card .profile-image-wrapper img{width: 115px; height: 115px;}
.heading-20-semibold {font-size: 15px !important;}
.profile-image-card .heading-20-semibold{text-align: center;}
.button-profile-wrapper  .btn{width: 100%;}
/* .form-control{height: 37px;} */
.team-img-box figcaption .team-info-details h4{font-size: 16px;}
.dashboard-container {	width: 100%; flex-direction: column;}
.dashboard-right-container{width: 100%;}
.chart-container div{flex-direction: column; gap: 15px;}
.heading-22-bold {font-size: 16px !important;}
.heading-20-medium {font-size: 16px;}
.footer-main {padding: 35px 0;}
.calendar-header .date-center {position: initial;}	
.calendar-header .btn.border {width: 100%;}
.calendar-header{flex-direction: column; gap: 21px;}
.calender-day-week-btn {width: 100%;}
header .nav-link {font-size: 15px; font-weight: 500; width: 100%;}
.dashboard-body .col-6{width: 100%;}
.pagination {border: none; gap: 5px; width: 100%;flex-wrap: wrap; justify-content: center;}
.pagination li .page-link {width: 31px; height: 31px;}
.calendar-table .scroll-box{overflow-x: auto; width: 100%; display: block;}	
.dashboard-body .row {width: auto;}
.dashboard-right-container .card-body{padding: 0px;}
.contact-form .btn-primary{width: 100% !important;}
.sidebar .sidebar-header .card-body{padding: 15px;}
.sidebar .sidebar-header .card-body .heading-16-bold{font-size: 15px;}
.action-row{display: initial; width: 100%; display: flex; flex-direction: column;}
.action-row .btn-1.outline {font-size: 14px; display: flex;justify-content: center; gap: 7px; width: 100%;row-gap: 10px;}
.btn-icon-32 {width: 32px !important; height: 28px !important;border-radius: 50% !important;font-size: 13px !important;}
.dashboard-card-figure {width: 43px; min-width: 43px;}
.navbar-nav.ms-auto.mb-lg-0 {    display: flex;  flex-direction: column;  gap: 10px !important; }
.contect .row{width: 100%;}
.card .btn{width: 100% !important;}
/* .avatar{margin: auto;} */
.upcoming-appointment-card{flex-direction: column; text-align: center; margin: auto; align-items: center;}
.calender-day-week-btn button:nth-child(1){width: 50%;}
.calender-day-week-btn button:nth-child(2){width: 50%;}
.about-main-img{border-radius: 0;}
.card ul{padding: 0px; margin: 0px;}
.rs-input-group-addon{position: absolute;}
.rs-input-group.rs-input-group-inside .rs-input-group-addon {padding: 7px 10px;}
.cancel-modal-info{padding: 0px !important;}
.modal-body .heading-32-semibold{font-size: 23px; line-height: 34px;}
.modal-body img{width: 70px;}
.button-profile-wrapper .btn-primary{width: 100% !important;}
.col-md-12 .btn-primary{width: 100% !important;}
.about-main-img {max-width: 265px; text-align: center; display: flex; justify-content: center; align-items: center; margin: auto;}
.notification-item.active {border-color: #ffe9cc; background-color: #fffaf3; flex-direction: column; text-align: center; justify-content: center; align-items: center;display: flex;}
.text-muted {margin: auto;}
.notification-sec .heading-16-semibold{font-size: 15px;}
/* .dropdown-toggle .btn .btn-secondary .nav-link{width: 180px;}  */
.header-right-btn {flex-direction: column;}
 .header-right-btn .btn-primary{width: 100%;}
 .header-right-btn .dropdown{width: 100%;}
 .about-img-box{margin-top: 31px;}
 .header-right-btn .btn {width: 100%; text-align: start;}

.why-choose-us-content{padding-top: 0px !important;}


.accordion-button{font-size: 16px;}
.about-stats hr{margin: 5px 0px;}
.action-row{gap: 11px;}
.detail-row .value{font-size: 14px;}
.booking-container .header h2{font-size: 19px;}
.video-box {width: 111px; height: 145px !important; bottom: 0px; top : 419px; right: 31px; border-radius: 10px;}
.mute-btn{padding: 10px !important; }

/* .table-scroll{
    overflow-x: scroll;
    
    width: 100%;
	position: relative;
   
  }

  .calendar-table {
    min-width: 700px; 
  } */


.accordion-button{padding: 15px;}
.card-body{padding: 15px;}
.notification-item{flex-wrap: wrap;}
.notification-item time{margin-left: 0 !important;}
.notification-item.active{flex-direction: initial !important;}
.notification-item.active{justify-content: start; text-align: left;}

body .time-left-box{position: relative !important; display: block; width: 100%; text-align: center; margin: 0px !important; padding:0 0 30px 0px !important; top: 0 !important; left: 0 !important;}


}
