REACT_APP_SERVER_BASE_URL=http://localhost:4000
REACT_APP_API_URL=http://localhost:4000/webservice/api/v1
REACT_APP_WEB_URL = http://localhost:3000
REACT_APP_PRODUCTION=false
REACT_APP_SOCKET_URL=http://localhost:17019
REACT_APP_GOOGLE_MAP_API_KEY = 
 
REACT_APP_VAPID_KEY = ""

REACT_APP_AGORA_APP_ID = ''
